<h2 class="text-xl mb-4">Make Picks</h2>

<p class="w-64 text-grey-dark mb-4 italic text-sm">All times in EST</p>

<%= form_for @entry do |f| %>
  <fieldset>
    <%= f.fields_for :picks, @entry.picks do |pf| %>
      <% if !pf.object.tournament.locked? %>
        <div class="mb-4">
          <p class="block text-grey-darker text-sm font-bold mb-2 w-64">
            <span class="text-left">
              <%= pf.object.tournament.name %>
            </span>
            <span class="float-right">
              <%= pf.object.tournament.starts_at_est.strftime("%B %e, %l:%M %P") %>
            <span>
          </p>
          <div class="mb-2 inline-block relative w-64">
            <%= pf.select :team_id, nil, {}, class: "block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" do %>
              <% pf.object.tournament.teams.each do |t| %>
                <%= content_tag(:option, t.name, value: t.id, selected: t.id == pf.object.team_id, id: "team-#{t.id}") %>
              <% end %>
            <% end %>
            <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </fieldset>
  <div class="block">
    <%= f.submit "Save Picks", class: "btn btn-blue" %>
  </div>
<% end %>
