<h2 class="text-xl">Make Picks</h2>

<%= form_for @entry do |f| %>
  <fieldset class="mb-2">
    <%= f.fields_for :picks do |pf| %>
        <p class="block text-grey-darker text-sm font-bold mb-2"><%= pf.object.tournament.name %></p>
        <%= pf.select :team_id do %>
          <% pf.object.tournament.teams.each do |t| %>
            <%= content_tag(:option, t.name, value: t.id, selected: t.id == pf.object.team_id, id: "team-#{t.id}") %>
          <% end %>
        <% end %>
    <% end %>
  </fieldset>
  <%= f.submit class: "btn btn-blue" %>
<% end %>
