<h2>Make Picks</h2>

<%= form_for @entry do |f| %>
  <%= f.fields_for :picks do |pf| %>
    <fieldset>
      <div><%= pf.object.tournament.name %></div>
      <% pf.object.tournament.teams.each do |t| %>
        <%= label_tag "team-#{t.id}", t.name do %>
          <%= pf.radio_button "team_id", t.id, { checked: pf.object.team_id == p.id, id: "team-#{t.id}" } %>
          <%= t.name %>
        <% end %>
      <% end %>
    </fieldset>
  <% end %>
  <%= f.submit %>
<% end %>
