Edit <%= @team.tournament.year.name %> <%= @team.name %>

<%= form_with(model: [:admin, @team], local: true) do |f| %>
  <fieldset>
    <%= f.select :round_id, @rounds.map{|r| [r.name, r.id] }, prompt: 'Select' %>
  </fieldset>
  <br />
  <div class="block">
    <%= f.submit "Save", class: "btn btn-blue" %>
  </div>
<% end %>
