<!DOCTYPE html>
<html>
  <head>
    <title>TheJerome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="container px-8 py-4">
      <h1>The Jerome</h1>
      <nav class="my-8">
        <%= link_to "Home", root_path %>
        <% if user_signed_in? && current_user.entry.present? %>
          <%= link_to 'Your Entry', current_user.entry %>
        <% end %>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="container mb-8">
        <%= yield %>
      </div>

      <hr />

      <section class="mt-4">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Log in', new_user_session_path) %>
        <% end %>
      </section>
    </div>
  </body>
</html>
