<!DOCTYPE html>
<html>
  <head>
    <title>TheJerome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
 ) </head>

  <body>
    <div class="px-8 py-4">
      <h1>The Jerome</h1>
      <nav class="my-6 p-4 rounded overflow-hidden border border-grey-light">
        <ul class="list-reset flex">
          <li class="mr-6">
            <%= link_to "Home", root_path, class: "text-blue hover:text-blue-darker" %>
          </li>
          <% if user_signed_in? && current_user.entry.present? %>
            <li class="mr-6">
              <%= link_to 'Your Entry', current_user.entry, class: "text-blue hover:text-blue-darker" %>
            </li>
          <% end %>
          <li class="mr-6">
            <%= link_to "Leaderboard", leaders_path, class: "text-blue hover:text-blue-darker" %>
          </li>
        </ul>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="mb-8 p-4">
        <%= yield %>
      </div>

      <hr />

      <section class="mt-4">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Log in', new_user_session_path) %>
        <% end %>
      </section>
    </div>
  </body>
</html>
